In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect("messages_db.sqlite") 

cmd = \
f"""
SELECT *
FROM messages
"""
#read SQL query into the DataFrame
df = pd.read_sql_query(cmd, conn)

##close the connection
conn.close()
df

   id             handle                                  message
0   1             qwerty  Easiest classes you have taken at UCLA?
1   2               asdf                                film tv4?
2   3             Lei Xu                                   Geog 5
3   4  genius programmer                          Any PIC classes

In [3]:
def random_messages(n):
    conn = sqlite3.connect("messages_db.sqlite") 

    cmd = \
    f"""
    SELECT * FROM messages ORDER BY RANDOM() LIMIT '{n}';
    """
    #read SQL query into the DataFrame
    df = pd.read_sql_query(cmd, conn)

    ##close the connection
    conn.close()
    return df
random = random_messages(2)
print(random_messages(2).iloc[0][1] + random_messages(2).iloc[0][2])

Lei XuAny PIC classes